@charset "utf-8";
body p1 {
    color: #a8dadc;
    border-bottom-width: medium;
    border-bottom-style: none;
}
header {
}

body h2 {
    color: #e63946;
    border-top: medium solid #457b9d;
}

body {
    padding-left: 50px;
    margin-left: 180px;
    padding-top: 0px;
    background-color: #1d3557;
    padding-right: 50px;
    margin-right: 180px;
    border: medium solid #457b9d;
    border-top-left-radius: 0px;
}
footer {
    color: #f1faee;
}
header h1 {
    color: #e63946;
    border-bottom: medium solid #457b9d;
}
body img1 img {
    float: right;
    margin-top: 5px;
}
body h3 {
    color: #e63946;
}
